<div class="list-container px-4 pb-4" >
  <!-- <h3>{{tableName}}</h3> -->

  <div *ngIf="loading" class="lazy-loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="showData && !loading">
    <section>
      <div class="example-button-row">
        <button (click)="prevButtonEvent()" mat-raised-button color="primary">Prev Page</button>
        <button (click)="nextButtonEvent()" class="next-btn" mat-raised-button color="primary">Next Page</button>
      </div>
    </section>
  </div>
  <div class="text-center" *ngIf="!showData">
    <p class="h2"> <span class="badge text-bg-danger">
      La tabla está vacía!
      <i class="bi bi-exclamation-triangle"></i>
    </span> </p>
  </div>

  <section class="table-container">
    <div class="table-filters">
      <button mat-raised-button color="primary" (click)="sortByNameAZ()">Ordenar por Nombre A-Z</button>
      <button mat-raised-button color="primary" (click)="sortByNameZA()">Ordenar por Nombre Z-A</button>
      <input matInput placeholder="Ex. Pizza" (keyup)="keyupInputSearch($event)" (keyup)="filterByName($event)" />
    </div>

    <table mat-table [dataSource]="sortedData" class="mat-elevation-z8 table table-hover">
      @for ( column of displayedColumns; track column) {
        <!-- Columna {{column}} -->
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef> {{column.toUpperCase()}} </th>
          <td mat-cell *matCellDef="let tableItem"> {{tableItem[ column ]}} </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" ></tr>
    </table>
  </section>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator> -->
</div>

