<header class="mb-4">
  <nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">SWAPI Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/planetas">Planetas <i class="bi bi-globe-europe-africa"></i></a>
          <a class="nav-link" href="/residentes">Residentes <i class="bi bi-person-arms-up"></i></a>
          <a class="nav-link" href="/vehiculos">Vehículos <i class="bi bi-car-front-fill"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet />